<% include ../partials/header%>
<div class='container mt-5'>
    <div class='row'>
        <div class ='col-md-3'>
            <h3 class='mb-3'> YelpCamp</h3>
            <div class='list-group'>
                <li class='list-group-item active'>Info 1</li>
                <li class='list-group-item'>Info 2</li>
                <li class='list-group-item'>Info 3</li>
            </div>
            <div id='map'></div>
        </div>
        <div class='col-md-9'>
            <div class='card'>
                <img src="<%= campground.image %>" class='card-img-top rounded' id='targetimg'>
                <div>
                    <h4 class='p-1 d-inline'><a href=''><%= campground.name %></a></h4>
                    <h4 class='text-right p-1 d-inline float-right'> $<%= campground.price %>/night</h4>
                </div>
                <p><em>Submitted by  <a href='/user/<%=campground.author.id %>'><%= campground.author.username%></a> <%= moment(campground.createTime).fromNow() %> </em></p>
                <p class='card-text p-1'><%= campground.description%></p>
                <% if (currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.admin){ %>
                <div class='ml-2 mb-2 '>
                    <a class='btn  btn-warning d-inline'href='/campgrounds/<%= campground._id %>/edit'> Edit </a>
                    <form class='d-inline'action='/campgrounds/<%= campground._id %>?_method=Delete' method='post'>
                        <button class='btn btn-xs btn-danger ml-2'> Delete </a>
                    </form>
                </div>
                <% } %>
               
            </div>
            
            <div class='border  bg-light mt-3 p-3 rounded' id='comment'>
                <div class='mb-4'>
                    <div class='mb-3'>
                        <h4 class='comments'>Comments <i class="fas fa-comments"></i></h4>
                    </div >
                    <div class='rounded' id='add-comment'>
                        <div class='container'>
                            <h4 class='mt-4 mb-3'>Write your comments<i class="fas fa-feather-alt"></i></h4>
                            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                                <textarea type=textarea placeholder='Writing a new comment...' rows='5' name="comment[text]"></textarea>
                                <button class='btn btn-md btn-success text-right mb-4'>Add new Comment <i class="fas fa-comments"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){%>
                    <div class='row mb-2'>
                        <div class='col-md-12'>
                            <strong><i class="fas fa-user"></i> <%= comment.author.username%></strong>
                            <span class='float-right'> <%= moment(comment.createTime).fromNow()%></span>
                            <P class='mb-0'>
                               <%= comment.text%> 
                            </P>
                            <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.admin) { %>
                                <a class='btn btn-sm btn-warning d-inline'href='/campgrounds/<%=campground._id%>/comments/<%= comment._id %>/edit'> Edit </a>
                                <form class='d-inline'action='/campgrounds/<%=campground._id%>/comments/<%= comment._id %>?_method=Delete' method='post'>
                                    <input type='submit' value=' delete' class='btn btn-sm btn-danger ml-2'>
                                </form>
                            <% } %>

                        </div>
                        
                    </div>
                <% }) %>
            </div>
        </div>    
    </div>
</div>

<a href='/campgrounds'>Back</a>

<script>
    function showmap() {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': '<%=campground.location%>'}, function(result, status){
            if (status === 'OK') {
                var mapOptions = {
                    zoom: 8,
                    center: result[0].geometry.location
                    }
                var map = new google.maps.Map(document.getElementById('map'), mapOptions);
                var marker = new google.maps.Marker({position: result[0].geometry.location, map: map});
            } else {
            }
        })
     }
     
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL3XSyCWyIdrFAu3iV5tKHaqkeaQwiGk4&callback=showmap">
</script>

    
<% include ../partials/footer%>

